.sc-item_textblock {
  height: 170px;
  text-align: center;
  animation: 1s ease-out 0s 1 slideInFromBottom;
  order: 1;
}

.sc-item_textblock_title {
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
}

.sc-item_textblock_text {
  font-size: 14px;
  width: 350px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .sc-item_textblock_text {
    width: 100%;
  }
}

@media screen and (max-width: 469px) {
  .sc-item_textblock {
    display: block;
    height: inherit;
    margin-bottom: 40px;
  }
}
